apiVersion: kro.run/v1alpha1
kind: ResourceGraphDefinition
metadata:
  name: qretadeploy
spec:
  schema:
    apiVersion: v1alpha1
    kind: QretaDeploy
    spec:
      name: string
      repoUrl: string
      branch: string
      folder: string | default="."
      sshKeys: string | default=""
      interval: string
    status:
      ready: ${deployment.status.readyReplicas == 1}
  resources:
    - id: sshKeys
      externalRef:
        apiVersion: v1
        kind: Secret
        metadata:
          name: ${ schema.spec.sshKeys }
          namespace: ${ schema.metadata.namespace }
    - id: script
      template:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: qretadeploy-sh
          namespace: ${ schema.metadata.namespace }
        data:
          deploy.sh: |
            #!/bin/sh
            set -e
            WORKDIR="$HOME/repo"

            # Ensure the work directory exists and has proper permissions
            mkdir -p "$WORKDIR"

            if [ ! -d "$WORKDIR/.git" ]; then
              export GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/tmp/known_hosts"
              git clone --branch "$BRANCH" "$REPO_URL" "$WORKDIR"
            fi

            cd "$WORKDIR"
            while true; do
              echo "Applying changes..."
              git fetch origin
              git reset --hard "origin/$BRANCH"
              # recursively apply changes
              kubectl apply -f $FOLDER -R
              echo "Changes applied successfully."
              echo "Sleeping for $INTERVAL seconds..."
              echo ""
              sleep "$INTERVAL"
            done

    - id: deployment
      template:
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: ${ schema.metadata.name  }
          namespace: ${ schema.metadata.namespace }
          annotations:
            reloader.stakater.com/auto: "true"
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: ${ schema.metadata.name  }
          template:
            metadata:
              labels:
                app: ${ schema.metadata.name  }
            spec:
              serviceAccountName: ${ serviceAccount.metadata.name }
              containers:
                - name: cd
                  image: ghcr.io/qretaio/qretadeploy:latest
                  command: ["/scripts/deploy.sh"]
                  env:
                    - name: BRANCH
                      value: ${ schema.spec.branch }
                    - name: REPO_URL
                      value: ${ schema.spec.repoUrl }
                    - name: INTERVAL
                      value: ${ schema.spec.interval }
                    - name: FOLDER
                      value: ${ schema.spec.folder }
                  volumeMounts:
                    - name: script
                      mountPath: /scripts
                    - name: work
                      mountPath: /work
                    - name: ssh
                      mountPath: /home/qreta/.ssh
              volumes:
                - name: script
                  configMap:
                    name: qretadeploy-sh
                    defaultMode: 0755
                - name: work
                  emptyDir: {}
                - name: ssh
                  secret:
                    secretName: ${ schema.spec.sshKeys }
    - id: serviceAccount
      template:
        apiVersion: v1
        kind: ServiceAccount
        metadata:
          name: ${ schema.metadata.name }
          namespace: ${ schema.metadata.namespace }
    - id: clusterRoleBinding
      template:
        apiVersion: rbac.authorization.k8s.io/v1
        kind: ClusterRoleBinding
        metadata:
          name: ${ schema.metadata.name }
        roleRef:
          apiGroup: rbac.authorization.k8s.io
          kind: ClusterRole
          name: cluster-admin
        subjects:
          - kind: ServiceAccount
            name: ${ schema.metadata.name }
            namespace: ${ schema.metadata.namespace }
